# Virtual Environement
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Python packages
*.egg
*.whl
